.customPadding {
    padding-top: 5%;
    padding-bottom: 5%;
}

.customMargin {
    margin-top: 5%;
    margin-bottom: 5%;
}

.fotoProfil {
    width: 200px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.tengahkan {
    margin: auto;
}