<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
    <a class="navbar-brand text-light" href="/">Beling</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigasi" aria-controls="navigasi"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigasi">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link text-light" href="/"><strong>Beranda</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/portofolio"><strong>Portofolio</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/kemampuan"><strong>Kemampuan</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/result_table"><strong>Buku Tamu</strong></a>
            </li>
        </ul>
    </div>
</nav>