{% extends '../layout/base.html' %}

{% block body %}

{% if form.errors %}
<p>Harap Periksa Kembali Nama Pengguna atau Kata Sandi Anda</p>
{% endif %}

<div class="container">

  <h5>Silahkan masuk dengan Nama Pengguna dan Kata Sandi yang anda miliki</h5>

  <form class="form-group" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
      <label for="">Nama Pengguna</label>
      {{ form.username }}
    </div>

    <div>
      <label for="">Kata Sandi</label>
      {{ form.password }}
    </div>
    <input type="submit" value="Masuk" />
  </form>
</div>
<script>
  const input = document.getElementsByName('input');
  input.classList.add("form-control");
</script>
{% endblock body %}