{% extends './layout/base.html' %}
{% load static %}
{% block body %}

<div class="container customPadding content tengahkan">
    <div class="card customPadding">
        <img src="{% static 'foto.png' %}" class="card-img-top fotoProfil rounded mx-auto d-block" alt="...">
        <div class="card-body">
            <p class="card-text text-justify">
                Nama saya Moh. Rizky, usia saya 22 tahun nama panggilan sehari-hari saya Kobe, saya mahasiswa Teknik
                Informatika Universitas Tadulako, Kota Palu, Sulawesi Tengah
                <br>
                Keinginan Saya
                Ada banyak, saya ingin mempelajari banyak hal baru, mempunyai banyak teman, dan hal-hal lain yang saya
                harapkan dapat membantu perkenmbangan saya ke depannya, terutama masuk surga
            </p>
            <a class="card-link" href="https://www.linkedin.com/in/morizkay/">LinkedIn</a>
            <a class="card-link float-right" href="https://wa.me/6281241996168">Hubungi Saya</a>
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalFormPesan">
        Ingin menyampaikan sesuatu? Sampaikan di sini
    </button>

    <div class="modal fade" id="modalFormPesan" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pesan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <section name="form">
                        <form id="form" method="POST" action="{% url 'beranda:message_post' %}">
                            {% csrf_token %}
                            {{ message_form }}
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}