{% extends './layout/base.html' %}

{% block body %}

<div class="container customPadding content tengahkan">
	<ul class="list-group">
		<li class="list-group-item">
			<h5>Pengembangan Aplikasi Android</h5>
			<p>Menggunakan Android Studio dengan bahasa bawaan XML dan Java</p>
		</li>
		<li class="list-group-item">
			<h5>Pengembangan Aplikasi Desktop</h5>
			<p>Menggunakan Visual Studio dengan bahasa Pemrograman C#, dan antarmuka yang dapat disesuaikan antara
				<em>Windows Form</em> atau <em>Windows Presentation Foundation</em></p>
		</li>
		<li class="list-group-item list-group-item-warning">
			<h5>Pengembangan Aplikasi Web</h5>
			<p>Saya sedang mempelajari teknologi WEB, khususnya Django untuk <em>backend</em> dan ReactJS untuk
				<em>frontend</em></p>
		</li>
		<li class="list-group-item">
			<h5>Manajemen Basis Data</h5>
			<p>Mulai dari perancangan, pembuatan, hingga perubahan jika memang diperlukan, dengan MySQL atau MongoDB
			</p>
		</li>
		<li class="list-group-item list-group-item-danger">
			<h5>Desain Grafis</h5>
			<p>-</p>
		</li>

	</ul>
</div>

{% endblock body %}