<section name="Chatbox">
    <div class="wrapper">
        <div class="chat-box">
            <div class="chat-head">
                <p>Kotak Pesan</p>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow"
                    width="16" data-toggle="collapse" data-target="#collapseExample" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
            </div>
            <div class="chat-body collapse" id="collapseExample">
                <div class="msg-insert">
                </div>
                <div class="chat-text">
                    <textarea  placeholder="Press Enter" id="kotakpesan"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>