{% extends './layout/base.html' %}

{% block body %}

<div class="container customPadding content tengahkan">
	<div>
		<h3>Proyek</h3>
		<ul class="list-group">
			<li class="list-group-item text-center">Masih Kosong</li>
		</ul>
	</div>
	<hr>
	<div>
		<h3>Pendidikan Formal</h5>
			<ul class="list-group">
				<li class="list-group-item">
					<h5>Program Studi S1 Teknik Informatika, Jurusan Teknologi Informasi, Fakultas
						Teknik, Universitas Tadulako</h5>
					<p>2015 - 2019</p>
				</li>
				<li class="list-group-item">
					<h5>SMK Negeri 3 Palu, Jurusan Teknik Komputer dan Jaringan</h5>
					<p>2012 - 2015</p>
				</li>
				<li class="list-group-item">
					<h5>SMP Negeri 4 Palu</h5>
					<p>2009 - 2012</p>
				</li>
				<li class="list-group-item">
					<h5>SD Inpres 1 Tanamodindi</h5>
					<p>2003 - 2009</p>
				</li>
			</ul>
	</div>
	<hr>
	<div>
		<h3>Pengalaman Kerja dan Organisasi</h3>
		<ul class="list-group">
			<li class="list-group-item">
				<h5>Programmer</h5>
				<h6>21 Juni 2019-Sekarang</h6>
				<p>Social Brand Project</p>
			</li>
			<li class="list-group-item">
				<h5>Asisten Praktikum Data Warehouse</h5>
				<h6>Semester Genap Tahun Ajaran 2018/2019</h6>
				<p>
					Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
					Tadulako
				</p>
			</li>
			<li class="list-group-item">
				<h5>Tim Teknis Data (Magang)</h5>
				<h6>03 September - 28 September 2018</h6>
				<p>
					Dinas Penanaman Modal Dan Pelayanan Terpadu Satu Pintu
					Prov. Sulteng
				</p>
			</li>
			<li class="list-group-item">
				<h5>Asisten Praktikum Struktur Data</h5>
				<h6>Semester Genap Tahun Ajaran 2017/2018</h6>
				<p>
					Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
					Tadulako
				</p>
			</li>
			<li class="list-group-item">
				<h5>Asisten Praktikum Sistem Informasi</h5>
				<h6>Semester Genap Tahun Ajaran 2017/2018</h6>
				<p>
					Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
					Tadulako
				</p>
			</li>
			<li class="list-group-item">
				<h5>Ketua Departemen Hubungan Masyarakat</h5>
				<h6>Periode 2018</h6>
				<p>
					Himpunan Mahasiswa Teknik Informatika Universitas Tadulako
				</p>
			</li>
			<li class="list-group-item">
				<h5>Asisten Praktikum Basis Data</h5>
				<h6>Semester Ganjil Tahun Ajaran 2017/2018</h6>
				<p>
					Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
					Tadulako
				</p>
			</li>
			<li class="list-group-item">
				<h5>Asisten Praktikum Algoritma dan Dasar Pemrograman</h5>
				<h6>Semester Ganjil Tahun Ajaran 2017/2018</h6>
				<p>
					Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
					Tadulako
				</p>
			</li>
			<li class="list-group-item">
				<h5>Asisten Praktikum Algoritma dan Dasar Pemrograman</h5>
				<h6>Semester Ganjil Tahun Ajaran 2016/2018</h6>
				<p>
					Jurusan Teknologi Informasi, Fakultas Teknik, Universitas
					Tadulako
				</p>
			</li>
			<li class="list-group-item">
				<h5>Anggota</h5>
				<h6>2016 - 2018</h6>
				<p>
					Himpunan Mahasiwa Teknik Informatika Universitas Tadulako
				</p>
			</li>
			<li class="list-group-item">
				<h5>Anggota</h5>
				<h6>2014 - Sekarang</h6>
				<p>
					Purna Paskibraka Indonesia Provinsi Sulawesi Tengah
				</p>
			</li>
		</ul>
		</ul>
	</div>

</div>
{% endblock body %}