{% extends './layout/base.html' %}
{% block body%}
<div class="container customPadding content tengahkan">
    <h3>Terima kasih, pesan anda telah tersimpan</h3>
    <textarea readonly rows="5" class="form-control">
Isi Pesan     : &quot;{{message}}&quot;
Pengirim    : {{name}} - {{ email }}
    </textarea>
    <a href="/">
        <button class="btn btn-primary customMargin">Kembali ke Halaman Utama</button></a>
</div>
{% endblock body %}