{% extends './layout/base.html' %}
{% block body %}
<div class="container customPadding content tengahkan">
    <a href="/">Kembali ke Halaman Utama</a>
    <table class="table">
        <thead>
            <th>Nama</th>
            <th>Email</th>
            <th>Pesan</th>
            <th>Dibuat Pada</th>
        </thead>
        <tbody>
            {% for i in message %}
            {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
            <tr class="table-danger"> {% else %}
            <tr class="tabel-success">
                {% endif %}
                <td> {{i.name}} </td>
                <td> {{i.email}} </td>
                <td> {{i.message}} </td>
                <td> {{i.created_date.time}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}